<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!--<debug>false</debug>-->
	<timestamp>hw</timestamp>
	<interface>eth2</interface>
	<port>60666</port>
	<timeout>2</timeout>
	<dbpath>/tmp/probed.db</dbpath>
	<probe>
		<name>lab-slang-3</name>
		<address>::ffff:10.10.10.3</address>
	 	<!--<address>fc00::2</address>-->
		<interval>100000</interval>
		<type>slang</type>
	</probe>
</config>
