<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!--<debug>false</debug>-->
	<timestamp>hw</timestamp>
	<interface>eth2</interface>
	<port>60666</port>
	<timeout>2</timeout>
	<dbpath>/tmp/probed.db</dbpath>
	<probe id="123">
		<name>lab-slang-3</name>
		<address>10.10.10.3</address>
		<dscp>8</dscp>
		<interval>100000</interval>
		<type>slang</type>
	</probe>
	<probe id="999">
		<address>::ffff:1.3.3.7</address>
		<dscp>8</dscp>
		<interval>200000</interval>
		<type>slang</type>
	</probe>
</config>
